{% extends 'user/index.html.twig' %}

{% block title %}Register{% endblock %}

{% block javascripts %}
    {{parent()}}
    <script src="{{ asset('/static/js/formPost.js') }}"></script>
{% endblock %}

{% block content %}
    <h1>Register</h1>

    <div class="postForm formContainer">
        <span class="valid error" style="color:green"></span>
        {{ form_start(registrationForm) }}
            <div class="form-group">
                {{ form_label(registrationForm.email) }}
                {{ form_widget(registrationForm.email, {'attr': {'class': 'form-control'}}) }}
                <span class="emailError error" style="color:red"></span>
            </div>
            <div class="form-group">
                {{ form_label(registrationForm.plainPassword) }}
                {{ form_widget(registrationForm.plainPassword, {'attr': {'class': 'form-control'}}) }}
                <span class="plainPasswordError error" style="color:red"></span>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        {{ form_end(registrationForm) }}
    </div>

{% endblock %}
