{% extends 'user/index.html.twig' %}

{% block javascripts %}
    {{parent()}}
    <script src="{{ asset('/static/js/formPost.js') }}"></script>
{% endblock %}


{% block content %}
    <h2>Konto "{{user.email}}"</h2>
    {%if role_modify%}
        <b style="color:green">możesz modyfikować konto</b>
    {%else%}
        <b style="color:red">Nie możesz modyfikować konta</b>
    {%endif%}

    <h1>Edit user</h1>

    <div class="postForm formContainer">
        <span class="valid error" style="color:green"></span>
        {{ form_start(editForm, {'action': path('edituser')}) }}
            <span class="_globalErrorError error" style="color:red"></span>
            <div class="form-group">
                {{ form_label(editForm.email) }}
                {{ form_widget(editForm.email, {'attr': {'class': 'form-control'}}) }}
                <span class="emailError error" style="color:red"></span>
            </div>
            <div class="form-group">
                {{ form_label(editForm.oldPassword) }}
                {{ form_widget(editForm.oldPassword, {'attr': {'class': 'form-control'}}) }}
                <span class="oldPasswordError error" style="color:red"></span>
            </div>
            <div class="form-group">
                {{ form_label(editForm.plainPassword) }}
                {{ form_widget(editForm.plainPassword, {'attr': {'class': 'form-control'}}) }}
                <span class="plainPasswordError error" style="color:red"></span>
            </div>
            <button type="submit" class="btn btn-primary">Edit user</button>
        {{ form_end(editForm) }}
    </div>
    <hr>
    <h1>Remove user</h1>

    <div class="postForm formContainer">
        <span class="valid error" style="color:green"></span>
        {{ form_start(removeForm, {'action': path('deleteuser')}) }}
            <span class="_globalErrorError error" style="color:red"></span>
            <button type="submit" class="btn btn-danger">Remove user</button>
        {{ form_end(removeForm) }}
    </div>

{% endblock %}


