{% extends 'user/index.html.twig' %}

{% block stylesheets %}
    {{parent()}}
    <link rel="stylesheet" href="{{ asset('/static/css/loader.css') }}">
{% endblock %}

{% block javascripts %}
    {{parent()}}
    <script src="{{ asset('/static/js/user.js') }}"></script>
{% endblock %}

{% block content %}
    <h2>Autoryzacja</h2>
    <ul>
        {% for user in users %}
            <li>{{ user.user.email }}
                {%if user.modify%}
                    <button type="button" class="btn btn-danger remove roleModify" data-userid="{{user.user.id}}">Usuń ROLE_MODIFY</button>
                {%else%}
                    <button type="button" class="btn btn-primary add roleModify" data-userid="{{user.user.id}}">Dodaj ROLE_MODIFY</button>
                {%endif%}
                <b class="modifyloader" style="display: inline-block;"></b>
            </li>
        {% endfor %}
    </ul>
{% endblock %}


