{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        {% block links %}
            <a href="{{ path('home') }}">Home</a><br>
            <a href="{{ path('authorization') }}">Authorization</a><br>
            <a href="{{ path('register') }}">Register</a><br>
            <a href="{{ path('account') }}">Account</a><br>
            <a href="{{ path('logout') }}">Logout</a><br>
        {% endblock %}
        {% block content %}{% endblock %}
    </div>
{% endblock %}



